---
layout: default
---
<!--========== PAGE CONTENT ==========-->
<section class="section_padding_80">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
          <article>
            <div class="d-flex avatar-area mb-4">
              <a class="avatar m-0 mr-3" href="{{post.url}}"><img src="{{ "/assets/images/" | append: site.author-img }}" alt="{{post.title}}"></a>
              <div class="right-area">
                <div class="middle">
                  <p class="mb-0"><b>{{site.author}}</b></p>
                  <small>on {{ page.date | date: "%B %-d, %Y" }} at {{ page.date | date: "%I:%M %P" }}</small>
                </div>
              </div>
            </div>
            <h4 class="mb-4">{{page.title}}</h4>
            <div class="gallery mb-4">
              {% for img in page.imgs %}
                <figure class="picture">
                  <img src="{{ "/assets/images/" | append: img }}" alt="{{page.title}}" class="w-100" />
                </figure>
              {% endfor %}
            </div>
            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
              <!-- Background of PhotoSwipe.
                   It's a separate element as animating opacity is faster than rgba(). -->
              <div class="pswp__bg"></div>
              <!-- Slides wrapper with overflow:hidden. -->
              <div class="pswp__scroll-wrap">
                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                </div>
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                  <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                      <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                          <div class="pswp__preloader__donut"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                  </div>
                  <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                  </button>
                  <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                  </button>
                  <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                  </div>
                </div>
              </div>
            </div>

            {{page.content}}

            <div class="share">
              <ul class="social-share-btns list-inline">
                <li class="list-inline-item">
                  <h6>Share on:</h6>
                </li>
                <li class="list-inline-item">
                  <a class="share-btn share-btn-twitter" href='https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}' rel='nofollow' target='_blank'><i class="fab fa-twitter"></i> <span>Tweet</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="share-btn share-btn-facebook"  href='https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}' rel='nofollow' target='_blank'><i class="fab fa-facebook-f"></i> <span>Share</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="share-btn share-btn-google-plus" href='https://plus.google.com/share?url={{ site.url }}{{ page.url }}' rel='nofollow' target='_blank'><i class="fab fa-google-plus-g"></i> <span>Share</span></a>
                </li>
              </ul>
            </div>
          </article>

          {% include disqus.html %}
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>
